header{
    box-sizing: border-box;
    border-radius: 5vw;
    font-size: 4vw;
    display: flex;
    margin-left: 2vw;
    border: 1vw rgb(87, 166, 231) solid;
    width: 96%;
    height: 38vw;
    background: url(../images/4.png) no-repeat;
    background-size: 100%;
    align-items: flex-end;
    justify-content: center;
    div{
        position: relative;
        color: white;
        text-align: center;
        background-color:rgba(30, 26, 26,0.8);
        width: 20vw;
        span{
            display: block;
            position: absolute;
            width: 13vw;
            height: 13vw;
            bottom: 50%;
            left: 50%;
            margin-left: -6vw;
            border-radius: 50%;
            border: 1px solid rgb(211, 223, 235);
            box-shadow: 1px 1px 2px 2px rgb(218, 131, 2);
        }
        #first-img{ 
            // background: url(../images/1.jpg) no-repeat;  
            background-repeat: no-repeat;
            margin-bottom: 11vw;
            background-size: cover;
        }
        #second-img{ 
            // background: url(../images/2.jpg) no-repeat;  
            background-repeat: no-repeat;
            margin-bottom: 7vw;
            background-size: cover;
        }
        #third-img{
            // background: url(../images/3.jpg) no-repeat;  
            background-repeat: no-repeat;
            margin-bottom: 6vw;
            background-size: cover;
        }
    }
    .first{
        height: 20vw;
        line-height: 30vw;
    }
    .second{
        height: 13vw;
        line-height: 16vw;
    }
    .third{
        height: 10vw;
        line-height: 10vw;
    }


}
#human{
    height: 10vw;
    font-size: 8vw;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 10vw;
    border-bottom: 2px solid rgb(3, 107, 133);
}

#white{
    height: 30vw;
    width: 100%;
}

#rules{
    display: flex;
    position: fixed;
    z-index: 2;
    bottom: 0;
    font-size: 4vw;
    width: 100%;
    height: 14vw;
    box-shadow: -1vw 0vw 1vw 1vw rgb(165, 164, 164);
    background-color: rgb(255, 255, 255);
    a{
        flex: 1;
        text-decoration: none;
        font-weight: 700;
        color: black;
        text-align: center;
        line-height: 14vw;
    }
    #vo{
        background-color: rgb(3, 94, 89);
        color: white;
    }
}

#top{
    display: flex;
    background: url(../images/bgj.png) no-repeat;
    background-size: 100%;
    border-bottom: 1px black solid;
    width: 100%;
    height: 40vw;
    div{
        text-align: center;
        font-size: 5vw;
        font-weight: 700;
        flex: 1;
        p{
            margin: 0;
            margin-top: 15vw;
        }
    }
}

#image{
    border-top: 1vw solid black;
    border-bottom: 1vw solid black;
    margin-top: -5vw;
    width: 100%;
    height: 40vw;
    margin-bottom: 5vw;
    background: url(../images/link.png) no-repeat;
    background-size: 100%;
}

section{
    width: 100%;
    height: 100vw;
    background-color: rgb(255, 251, 251);
}
