section {
  width: 100%;
  height: 10vw;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  line-height: 10vw;
}
form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form label {
  position: relative;
  width: 70%;
  height: 30vw;
}
form label #user {
  position: absolute;
  top: 17vw;
  font-size: 6vw;
  right: 0;
  font-family: 'icomoon';
  display: block;
  color: #141414;
}
form label input {
  appearance: none;
  border: 1px solid rgba(169, 168, 168, 0.7);
  height: 8vw;
  width: 100%;
}
form .code {
  position: absolute;
  bottom: 30vw;
  right: 13.64vw;
  font-family: Arial;
  font-style: italic;
  color: blue;
  font-size: 5vw;
  border: 0;
  padding: 2px 3px;
  letter-spacing: 3px;
  font-weight: bolder;
  cursor: pointer;
  width: 20vw;
  height: 10vw;
  line-height: 10vw;
  text-align: center;
  vertical-align: middle;
  background-color: #cc80e7;
}
form button {
  margin-top: 10vw;
  font-size: 6vw;
  background-color: #21c8cb;
  color: #000000;
  border: 1px solid #141414;
  width: 70%;
  font-weight: 700;
  height: 10vw;
  border-radius: 2vw;
}
